{% extends 'base.html.twig' %}

{% block title %}
Ajout d'un livre
{% endblock %}

{% form_theme formBook 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1 class="display-5">Ajout d'un livre</h1>

<div class="jumbotron">
    <h3 class="display-5">API de recherche sur Google Books</h2>
    <form id="form">
		<input type="search" id="livres" class="form-control" placeholder="Ecrire le nom du livre" required="required" name="recherches">
		<button class="btn btn-outline-success mt-1">Rechercher</button>
		<a class="btn btn-outline-warning mt-1" href="javascript:window.location.reload()">Recharger la page</a>
    </form>
    <div class="container mt-3">
        <div class="row">
            <div id="result0" class="col-sm border border-primary d-none p-3"></div>
            <div id="result1" class="col-sm border border-primary d-none p-3"></div>
            <div id="result2" class="col-sm border border-primary d-none p-3"></div>
        </div>
        <div class="row">
            <div id="result3" class="col-sm border border-primary d-none"></div>
            <div id="result4" class="col-sm border border-primary d-none"></div>
            <div id="result5" class="col-sm border border-primary d-none"></div>
        </div>
    </div>
</div>

<p><span class="redFields">*</span> Champs obligatoire</p>

{{ form_start(formBook) }}

{{ form_row(formBook.title, {'attr': {'placeholder': "Titre du livre"}}) }}

{{ form_row(formBook.format, {'attr': {'placeholder': "Type de livre"}}) }}

{{ form_row(formBook.isbn10, {'attr': {'placeholder': "Isbn 10"}}) }}

{{ form_row(formBook.isbn13, {'attr': {'placeholder': "Isbn 13"}}) }}

{{ form_row(formBook.ntitle, {'attr': {'placeholder': "Numéro du volume"}}) }}

{{ form_row(formBook.description, {'attr': {'placeholder': "Description du livre"}}) }}

{{ form_row(formBook.rightholderPublisher, {'attr': {'placeholder': "Nom de l'ayant droit"}}) }}

{{ form_row(formBook.publisher, {'attr': {'placeholder': "Nom de l'éditeur"}}) }}

{{ form_row(formBook.author, {'attr': {'placeholder': "Nom de l'auteur"}}) }}

{{ form_row(formBook.artist, {'attr': {'placeholder': "Nom de l'artiste"}}) }}

{{ form_row(formBook.language, {'attr': {'placeholder': "Langue du livre"}}) }}

{{ form_row(formBook.legalDeposit, {'attr': {'placeholder': "Date d'impression"}}) }}

<button type="submit" class="btn btn-success">
    {% if editMode %}
    Enregistrer les modifications
    {% else %}
    Ajouter le livre
    {% endif %}
</button>

{{ form_end(formBook) }}

{% endblock %}