{% extends 'base.html.twig' %}

{% block title %}

{% if editMode %}
Modification de la news
{% else %}
Création d'une news
{% endif %}

{% endblock %}

{% form_theme formNews 'bootstrap_4_layout.html.twig' %}

{% block body %}

{% if editMode %}
<h1 class="display-5">Modification de la news</h1>
{% else %}
<h1 class="display-5">Création d'une news</h1>
{% endif %}

<p><span class="redFields">*</span> Champs obligatoire</p>

{{ form_start(formNews) }}

{{ form_row(formNews.title, {'attr': {'placeholder': "Titre de la news"}}) }}

{{ form_row(formNews.content, {'attr': {'placeholder': "Contenu de la news"}}) }}

{{ form_row(formNews.image, {'attr': {'placeholder': "Image de la news"}}) }}

<button type="submit" class="btn btn-success">
{% if editMode %}
Enregistrer les modifications</h2>
{% else %}
Ajouter la news</h2>
{% endif %}
</button>

{{ form_end(formNews) }}

{% endblock %}