{% extends 'base.html.twig' %}

{% block title %}
    {{ book.title}} - Tome {{ book.ntitle }}
{% endblock %}

{% block body %}

<div class="card mb-3">
  <h1 class="card-header">
    {{ book.title }}
    <a href="{{ path('book_owned', {'id': book.id }) }}" class="js-owned">
      {% if app.user and book.isOwnedByUser(app.user) %}
      <span id="not-own" class="icon-check-circle"></span>
      {% elseif app.user %}
      <span id="own" class="icon-plus-circle"></span>
      {% endif %}
    </a>
  </h1>
  
  <h4 class="card-header">
  {% if book.author == book.artist %}
  Auteur : {{ book.author }}
  {% else %}
  Auteur : {{ book.author }} | Artiste : {{ book.artist }}
  {% endif %}
  </h4>
  
  <div class="card-body">
    <h5 class="card-title">{{ book.format }}</h5>
    <p class="card-text">{% if book.description %} Description : {{ book.description }} {% endif %}</p>
  </div>
  <div class="card-body">
    <p class="card-text">Tome {{ book.ntitle }}</p>
    <p class="card-text">ISBN 10 : {{ book.isbn10 }}</p>
    <p class="card-text">ISBN 13 : {{ book.isbn13 }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Éditeur ayant droit : {{ book.rightholderPublisher }}</li>
    <li class="list-group-item">Éditeur : {{ book.publisher }}</li>
    <li class="list-group-item">Langue : {{ book.language }}</li>
    <li class="list-group-item">Date d'impression : {{ book.legalDeposit }}</li>
  </ul>
</div>

{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('book_edit', {'id' : book.id, 'ntitle' : book.ntitle, 'title' : book.slug}) }} " class="btn btn-outline-warning">Éditer la fiche</a>
{% endif %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
<a href="{{ path('book_delete', {'id' : book.id, 'ntitle' : book.ntitle, 'title' : book.slug}) }} " class="btn btn-outline-danger">Supprimer la fiche</a>
{% endif %}

{% endblock %}

{% block javascripts %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ asset('../js/ajax-btn.js') }}"></script>

{% endblock %}