{% extends 'base.html.twig' %}

{% block title %}
    Liste des news
{% endblock %} 

{% block body %}
    <section class="news row">
        {% for article in articles %}
        <article class="col">
            <h2>{{ article.title }}</h2>
            <div class="metadata">Écrit le {{ article.createdAt | date('d/m/Y' )}} à {{ article.createdAt | date('H:i') }}</div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                <div>
                    {{ article.content | raw }}
                </div>
                <div>
                    <a href="{{ path('news_show', {'id' : article.id, 'title' : article.slug}) }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
{% endblock %}