{% extends 'base.html.twig' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}

<article class="mb-5">
    <h1 class="display-6">{{ article.title }}</h1>
    <div class="metadata">Écrit le {{ article.createdAt | date('d/m/Y' )}} à {{ article.createdAt | date('H:i') }}</div>
    <div class="content">
        <img src="{{ article.image }}" alt="">
        <div><p>{{ article.content | raw }}</p></div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('news_edit', {'id' : article.id, 'title' : article.slug}) }} " class="btn btn-outline-warning">Éditer la news</a>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ path('news_delete', {'id' : article.id, 'title' : article.slug}) }} " class="btn btn-outline-danger">Supprimer la news</a>
    {% endif %}
</article>
<section id="commentaires">
        <h1 class="display-6">{{ article.comments | length }} Commentaires :</h1>
    {% for comment in article.comments %}
    <div class="card border-primary mb-3" style="max-width: 30rem;">
        
            <div class="card-header">{{comment.author}}</div>
            <div class="card-text pl-3 pt-3">
                <p>{{comment.content | raw | nl2br }}</p>
            </div>
            <div class="card-text pl-3">
                <p>Écrit le {{comment.createdAt | date('d/m/Y à H:i')}}</p>
            </div>
            
    </div>
    <div class="mb-3">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('comment_edit', {'id' : comment.id}) }}" class="btn btn-outline-warning">Éditer le commentaire</a>
        {% endif %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('comment_delete', {'id' : comment.id}) }}" class="btn btn-outline-danger">Supprimer le commentaire</a>
        {% endif %}
    </div>
        
    {% endfor %}

    <hr class="my-4">
    
    {% if app.user %}

    <h2 class="display-6">Ajouter un commentaire :</h2>

    <p><span class="redFields">*</span> Champs obligatoire</p>

    {{ form_start(commentForm) }}
    
    {{ form_row(commentForm.author, {'attr': {'placeholder': "Nom" }}) }}
    
    {{ form_row(commentForm.content, {'attr': {'placeholder': "Contenu" }}) }}
    
    <button type="submit" class="btn btn-success">Commenter</button>
    
    {{ form_end(commentForm) }}

    {% else %}
    
    <h2>Vous ne pouvez pas commenter !</h2>
    <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
    
    {% endif %}
</section>

{% endblock %}